# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

tags
.idea/
build/
vendor/
data/
log/
public/
.vscode/
.idea/
debug
start.sh
.idea/

# Node
node_modules

# Serverless directories
.serverless

# Environment file
.env
.env.*
!.env.example
.DS_Store

# Terraform/Terragrunt
.terraform*
terraform.tfstate*
.terragrunt*

# Secret credentials
*.secrets.json
