.DS_Store

# Code coverage
coverage/*

# Node
node_modules

# Serverless directories
.serverless

# Terraform/Terragrunt
.terraform*
terraform.tfstate*
infra/aws-infra-live/**/.terragrunt-cache/
infra/mongo-infra-live/**/.terragrunt-cache/**/iam
infra/mongo-infra-live/**/.terragrunt-cache/**/ssm
infra/mongo-infra-live/**/.terragrunt-cache/**/vpc
infra/mongo-infra-live/**/.terragrunt-cache/**/.terragrunt*

# golang output binary directory
bin
build

# golang vendor (dependencies) directory
vendor

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
